
/*=========================================Обнуление========================================*/

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*============================================*//*============================================*/

body {
	min-width: 1300px;
}

/*============================================*//*============================================*/

/*============================================*//*============================================*/

/* Fonts

	font-family: 'Orbitron', sans-serif;

	font-family: 'Saira', sans-serif;

	font-family: 'Prompt', sans-serif;

*/

/*============================================*//*============================================*/

/*Свойства для общих классов*/

.title {
	font-family: 'Orbitron', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.link {
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

.text {
	font-family: 'Prompt', sans-serif;
}

.info {
	font-family: 'Saira', sans-serif;
	font-size: 16px;
	line-height: 26px;
}

/*============================================*//*============================================*/

.wrapper {
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 500px;
	background-image: url(../img/header/back.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.header__section {
	display: flex;
	justify-content: center;
}

.header__item {
	text-align: center;
	color: #fff;
	padding: 120px 0 0 0;
}

.header__title {
	font-size: 38px;
}

/*============================================*//*============================================*/

.content {
	padding: 100px 0;
}

.content__section {
	display: flex;
	justify-content: space-between;
	max-width: 1230px;
	margin: 0 auto;
}

.content__main {
	flex: 0 0 70%;
}

.content__main-item {

}

.content__main-line {
	width: 100%;
	height: 2px;
	background-color: #6f2bc8;
	margin: 20px 0;
}
.content__main-title {
	font-size: 35px;
	color: #6f2bc8;
	margin: 0 0 20px 0;
}

.content__main-image {
	margin: 0 0 20px 0;
}

.content__main-image img {
	max-width: 100%;
}

.content__main-info {
	margin: 0 0 20px 0;
}

.content__main-gameplay {

}

/*============================================*//*============================================*/

.content__adver {
	display: flex;
	flex-direction: column;
	position: relative;
}

.content__adver-item {
	margin: 0 0 150px 0;
}

/*============================================*//*============================================*/

#footer {
	width: 100%;
	background-color: #000;
	padding: 30px 0;
	overflow: hidden;
}

.footer__topline {
	display: flex;
	justify-content: center;
	position: relative;
}

.footer__topline::before {
	content: " ";
	width: 100%;
	height: 2px;
	background-color: #08f300;
	position: absolute;
	left: -55%;
	top: 47.5px;
}

.footer__topline::after {
	content: " ";
	width: 100%;
	height: 2px;
	background-color: #08f300;
	position: absolute;
	right: -55%;
	top: 47.5px;
}

.footer__topline img {
	width: 65px;
	height: 75px;
}

.footer__bottomline {
	display: flex;
	justify-content: center;
	position: relative;
}

.footer__bottomline::before {
	content: " ";
	width: 100%;
	height: 2px;
	background-color: #08f300;
	position: absolute;
	left: -55%;
	top: 47.5px;
}

.footer__bottomline::after {
	content: " ";
	width: 100%;
	height: 2px;
	background-color: #08f300;
	position: absolute;
	right: -55%;
	top: 47.5px;
}

.footer__bottomline img {
	width: 65px;
	height: 75px;
	transform: scaleY(-1);
}

.footer__row {
	display: flex;
	padding: 30px 0;
}

.footer__section {
	flex: 0 0 33.333%;
}

.footer__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

.footer__name {
	font-size: 30px;
	line-height: 30px;
	margin: 0 0 15px 0;
}

.footer__subname {
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	margin: 0 0 15px 0;
}

.footer__developer {
	font-size: 24px;
}

.footer__title {
	font-size: 50px;
	margin: 0 0 20px 0;
}

.footer__subtitle {
	font-size: 20px;
	font-style: italic;
	margin: 0 0 20px 0;
}

.footer__copy {
	
}

.footer__contacts {
	font-size: 30px;
	margin: 0 0 10px 0;
}

.footer__phone {
	font-size: 16px;
	margin: 0 0 5px 0;
}
.footer__number {
	margin: 0 0 10px 0;
}

.footer__mail {
	font-size: 16px;
	margin: 0 0 5px 0;
}
.footer__adress {
	margin: 0 0 10px 0;
}

.footer__social {
	display: flex;
	justify-content: center;
}

.footer__links {
	padding: 0 7px;
}

.footer__links img {
	max-width: 25px;
}

/*============================================*//*============================================*/